<!doctype html>
<!-- pagefind が無いならインデックスしない -->
<html lang="ja" 
{% if pagefind %}
{% else %}
  data-pagefind-ignore
{% endif %}
>

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body style="text-align: center;">
  <div class="container">
    {% include "components/header.njk" %}
    <div class="main">
      <main>
        {{ content | safe }}
      </main>
      {% include "components/sidebar.njk" %}
    </div>
    {% include "components/footer.njk" %}
  </div>
</body>

</html>