<footer data-pagefind-ignore> 
  <p><a href="/admin" target="_blank" rel="noopener noreferrer">login</a></p>
  <p><em>Built with {{ eleventy.generator }}</em> &copy; All rights reserved.</p>
</footer>