<div class="sidebar">
  <table class="sidebar-table">
    <colgroup>
      <col style="width: 100%;">
    </colgroup>
    <tbody>
      <tr>
        <td>記事検索</td>
      </tr>
      <tr>
        <td><input class="form-control" type="text" placeholder="Search..."></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <th>Menu</th>
      </tr>
      <tr>
        <td><a href="/" class="active">main</a></td>
      </tr>
      <tr>
        <td><a href="/about/">about</a></td>
      </tr>
    </tbody>
  </table>
</div>