<div class="sidebar">
  <table class="sidebar-table">
    <colgroup>
    </colgroup>
    <tbody>
      <tr>
        <td>記事検索</td>
      </tr>
      <tr>
        <form id="search-form" action="/result/" method="get">
          <td><input class="form-control" type="text" name="q" placeholder="Search..."></td>
          <td><button class="submit-button" type="submit">検索</button></td>
        </form>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <th>Menu</th>
      </tr>
      <tr>
        <td><a href="/" class="active">main</a></td>
      </tr>
      <tr>
        <td><a href="/about/">about</a></td>
      </tr>
    </tbody>
  </table>
</div>
