{% macro starMacro(n, size) %}
    <div class="star-container">
        {% for i in range(n) %}
            <img src="/public/images/star.png" width="{{ size }}" height="{{ size }}" alt="star" class="star" />
        {% endfor %}
        {% for i in range(5 - n) %}
            <img src="/public/images/notstar.png" width="{{ size }}" height="{{ size }}" alt="star" class="star" />
        {% endfor %}
    </div>
{% endmacro %}