<div class="sidebar">
  <table class="sidebar-table">
    <colgroup>
      <col style="width: 100%;">
    </colgroup>
    <thead>
      <tr>
        <th>Menu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/pages/about">about</a></td>
      </tr>
      <tr>
        <td><a href="https://nishima-tech.com" target="_blank" rel="noopener noreferrer">
          main site
        </a></td>
      </tr>
    </tbody>
  </table>
</div>