* {
    background-color: #fffbe9;
}

.container {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    min-height: 95vh;
}
.main {
    display: grid;
    grid-template-columns: 1fr 20%;
    gap: 2rem;
}
.sidebar-table {
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
}
.description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 0.5rem;
}
.heading {
    margin: 0.5rem;
}
.articles {
    width: 100%;
    border-collapse: collapse;
}
.title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.title a {
    text-decoration: none;
    color: #000;
}
.category-link {
    margin-right: 0.5rem;
    text-decoration: none;
}
.submit-button {
    white-space: nowrap;
}
.clock {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 0.5rem;
}
.date {
    font-size: 0.9rem;
    color: #666;
}
.date-field {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 右寄せ */
}
.data-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.star-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.star {
    display: block;
}
tr {
    border-bottom: 1px solid #ccc;
    height: 2rem;
}
input {
    padding: 0.5rem;
    background-color: #ffffff;
}
footer {
    margin-top: 2rem;
    text-align: center;
    color: #666;
    font-size: 0.9rem;
    position: sticky;
    top: 100vh;
}
footer a {
    text-decoration: none;
    color: #666;
}