---
subject: World
title: Home
layout: base.njk
---
{% from "components/star.njk" import starMacro %}

<h3 class="heading">新着記事！</h3>
<table class="articles">
  <colgroup>
    <col style="width: 60%;">
    <col style="width: 10%;">
    <col style="width: 20%;">
    <col style="width: 10%;">
  </colgroup>
  <tbody>
    {%- for post in collections.posts | sort("date") %}
      {% if loop.index <= 5 %}
        <tr>
          <td><a href="{{ post.url }}">{{ post.data.title }}</a></td>
          <td>{{ types[post.data.type] }}</td>
          <td>{{ starMacro(post.data.star, 16) }}</td>
          <td>{{ post.date | date("%Y-%m-%d") }}</td>
        </tr>
      {% endif %}
    {%- endfor %}
  </tbody>
</table>

<br>
<h3 class="heading">カテゴリ別記事一覧</h3>
{%- for type, label in types %}
  <a href="/category/{{ type }}/" class="category-link">
    {{ label }}
  </a>
{%- endfor %} 
